@tailwind base;
@tailwind components;
@tailwind utilities;

/* urbanist-latin-wght-normal */

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 145, 194, 228;
    --background-end-rgb: 254, 255, 243;
    --tertiary-color: #fcfdec;
}

@layer base {
    *,
    *::before,
    *::after {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        transition: color, background-color 200ms ease;
    }

    html {
        font-size: 62.5%;
    }

    body {
        font-family: 'Urbanist Variable', sans-serif;
        font-size: 1.6rem;
        overflow: hidden;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }

    span {
        display: inline-block;
    }

    h1 {
        @apply text-[4.8rem];
        font-family: 'DM Serif Display', serif;
    }
}

@layer utilities {
    .flex-full-center {
        @apply flex items-center justify-center;
    }

    .hero-bg {
        background: linear-gradient(
            180deg,
            rgb(var(--background-start-rgb)) 0%,
            rgb(var(--background-end-rgb)) 100%
        );
    }

    .soft-shadow {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.02);
    }

    .bg-tweak {
        background-size: cover;
    }

    .overlay {
        @apply absolute inset-0 bg-black bg-opacity-20;
    }

    .link {
        @apply relative transition-all w-max hover:font-bold;

        &::after {
            content: '';
            @apply absolute -bottom-2 left-0 w-full h-[.22rem] bg-black;
            transform-origin: 100% 0;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        &:hover::after {
            /* @apply !text-primary-light; */
            transform-origin: 0;
            transform: scaleX(1);
        }

        &-active {
            @apply ml-8  transition-all  font-semibold;

            &::after {
                content: '';
                @apply absolute top-3 -translate-y-1/2  -left-14 w-[3rem] h-[.30rem] bg-black;
                transform-origin: 100% 0;
                transform: scaleX(1);
                transition: transform 0.3s ease-in-out;
            }
        }
    }

    .btn-animate {
        @apply relative transition-colors duration-[400ms] ease-in overflow-hidden [&>*]:relative [&>*]:z-10;

        &::after {
            content: '';
            @apply absolute size-32 rounded-full  z-[1];
            transform: scale(0);
            transition: transform 550ms ease-in-out;
        }

        &:hover::after {
            transform: scale(8);
        }
    }

    .btn-animate--secondary {
        &::after {
            @apply bg-black;
        }
        &:hover {
            @apply text-white;
        }
    }

    .btn-animate--primary {
        &::after {
            @apply bg-white;
        }
        &:hover {
            @apply text-black;
        }
    }
}
